* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}
body {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}
#content {
	padding: 40px 20px 70px 20px;
	position: absolute;
}
#scroll_bar {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 50px;
	background-color: rgba(120, 120, 120, 0.8);
}
#scroll_button {
	display: block;
	position: fixed;
	cursor: pointer;
	left: 0;
	bottom: 1px;
	width: 100px;
	height: 48px;
	background-color: rgba(230, 230, 230, 1);
	outline: 1px solid rgba(50, 50, 50, 1);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}